body{
    background-color: cornflowerblue;
}
.container{
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#fff ;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 2px lightblue;
}
.lists li{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.lists li.strike{
    text-decoration: line-through;
}

